numpy<2
build
wheel
six
auditwheel
scipy>=1.13
pytest
pytest-html
pytest_html_merger
pytest-reportlog
pytest-rerunfailures
pytest-json-report
cloudpickle
portpicker
matplotlib
absl-py
flatbuffers
hypothesis
ml_dtypes>=0.5.0
