[project_info]
name=uccl
repo_url=https://github.com/uccl-project/uccl
version=main

#ubuntu dependencies:
# sudo apt install libgoogle-glog-dev libibverbs-dev

# common env variables both for linux and windows
env_common=
       CXX=$ROCK_BUILDER_COMPILER_HIPCC

# use gcc instead of clang on linux
# because pytorch 2.7.0 builds with clang 19.0 but not with 20.0
# due to the new checks affecting to the memcpy command
# used in asmjit submodule
#env_linux =
#       CC=${HIP_CLANG_PATH}/clang
#       CXX=${HIP_CLANG_PATH}/clang++


#init_cmd = python -m pip install -r ./requirements.txt
cmd_exec_dir=${ROCK_BUILDER_APP_SRC_DIR}
#clean_cmd = make clean
build_cmd = make all
#install_cmd = RCB_CMD__FIND_AND_INSTALL_LATEST_PYTHON_WHEEL $ROCK_BUILDER_APP_SRC_DIR/dist
