name: Build Portable Linux JAX Wheels

on:
  workflow_call:
    inputs:
      amdgpu_family:
        required: true
        type: string
      python_versions:
        required: true
        type: string
      release_type:
        description: The type of release to build ("nightly", "prerelease", or "dev")
        required: true
        type: string
      s3_subdir:
        description: S3 subdirectory, not including the GPU-family
        required: true
        type: string
      rocm_version:
        description: ROCm version to install
        type: string
      tar_url:
        description: URL to TheRock tarball to build against
        type: string
      cloudfront_url:
        description: CloudFront URL pointing to Python index
        required: true
        type: string
      cloudfront_staging_url:
        description: CloudFront base URL pointing to staging Python index
        required: true
        type: string
      repository:
        description: "Repository to checkout. Otherwise, defaults to `github.repository`."
        type: string
      ref:
        description: "Branch, tag or SHA to checkout. Defaults to the reference or SHA that triggered the workflow."
        type: string
  workflow_dispatch:
    inputs:
      amdgpu_family:
        type: choice
        options:
          - gfx101X-dgpu
          - gfx103X-dgpu
          - gfx110X-dgpu
          - gfx1150
          - gfx1151
          - gfx120X-all
          - gfx90X-dcgpu
          - gfx94X-dcgpu
          - gfx950-dcgpu
        default: gfx94X-dcgpu
      python_versions:
        required: true
        type: string
        default: "3.12"
      release_type:
        description: The type of release to build ("nightly", "prerelease", or "dev")
        required: true
        type: string
        default: "dev"
      s3_subdir:
        description: S3 subdirectory, not including the GPU-family
        type: string
        default: "v2"
      rocm_version:
        description: ROCm version to install
        type: string
      tar_url:
        description: URL to TheRock tarball to build against
        type: string
      cloudfront_url:
        description: CloudFront base URL pointing to Python index
        type: string
        default: "https://d25kgig7rdsyks.cloudfront.net/v2"
      cloudfront_staging_url:
        description: CloudFront base URL pointing to staging Python index
        type: string
        default: "https://d25kgig7rdsyks.cloudfront.net/v2-staging"
      jax_ref:
        description: rocm-jax repository ref/branch to check out
        type: string
        default: rocm-jaxlib-v0.8.0

permissions:
  id-token: write
  contents: read

jobs:
  build_jax_wheels:
    strategy:
      matrix:
        jax_ref: [rocm-jaxlib-v0.8.0]
    name: Build Linux JAX Wheels | ${{ inputs.amdgpu_family }} | Python ${{ inputs.python_version }}
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    env:
      PACKAGE_DIST_DIR: ${{ github.workspace }}/jax/jax_rocm_plugin/wheelhouse
      S3_BUCKET_PY: "therock-${{ inputs.release_type }}-python"
    steps:
      - name: Checkout TheRock
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout JAX
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: jax
          repository: rocm/rocm-jax
          ref: ${{ inputs.jax_ref || matrix.jax_ref }}

      - name: Configure Git Identity
        run: |
          git config --global user.name "therockbot"
          git config --global user.email "therockbot@amd.com"

      - name: "Setting up Python"
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python_versions }}

      - name: Build JAX Wheels
        env:
          ROCM_VERSION: ${{ inputs.rocm_version }}
        run: |
          ls -lah
          pushd jax
          python3 build/ci_build \
            --compiler=clang \
            --python-versions="${{ inputs.python_versions }}" \
            --rocm-version="${ROCM_VERSION}" \
            --therock-path="${{ inputs.tar_url }}" \
            dist_wheels

      - name: Install AWS CLI
        if: always()
        run: bash ./dockerfiles/install_awscli.sh

      - name: Configure AWS Credentials
        if: always()
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::692859939525:role/therock-${{ inputs.release_type }}-releases

      - name: Upload wheels to S3
        if: ${{ github.repository_owner == 'ROCm' }}
        run: |
          aws s3 cp ${{ env.PACKAGE_DIST_DIR }}/ s3://${{ env.S3_BUCKET_PY }}/${{ inputs.s3_subdir }}/${{ inputs.amdgpu_family }}/ \
            --recursive --exclude "*" --include "*.whl"

      - name: (Re-)Generate Python package release index
        if: ${{ github.repository_owner == 'ROCm' }}
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip3 install boto3 packaging
          python3 ./build_tools/third_party/s3_management/manage.py ${{ inputs.s3_subdir }}/${{ inputs.amdgpu_family }}

  test_jax_wheels:
    name: Test JAX wheels | ${{ inputs.amdgpu_family }} | linux-mi325-1gpu-ossci-rocm
    needs: [build_jax_wheels]
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/test_linux_jax_wheels.yml
    with:
      amdgpu_family: ${{ inputs.amdgpu_family }}
      release_type: ${{ inputs.release_type }}
      s3_subdir: ${{ inputs.s3_subdir }}
      package_index_url: ${{ inputs.cloudfront_url }}
      rocm_version: ${{ inputs.rocm_version }}
      tar_url: ${{ inputs.tar_url }}
      python_versions: ${{ inputs.python_versions }}
      ref: ${{ inputs.ref || '' }}
      jax_ref: ${{ inputs.jax_ref }}
