name: Release portable Linux packages

on:
  # Trigger from another workflow (typically to build dev packages and then test them)
  workflow_call:
    inputs:
      release_type:
        description: The type of build version to produce ("nightly", "prerelease", or "dev")
        type: string
        default: "dev"
      package_suffix:
        type: string
      s3_subdir:
        description: "Subdirectory to push the packages"
        type: string
        default: "v2"
      s3_staging_subdir:
        description: "Staging subdirectory to push the packages"
        type: string
        default: "v2-staging"
      families:
        description: "Comma separated list of AMD GPU families, e.g. `gfx94X,gfx103x`"
        type: string
      prerelease_version:
        description: "(Optional) Number of the prerelease"
        type: string
      repository:
        description: "Repository to checkout. Otherwise, defaults to `github.repository`."
        type: string
      ref:
        description: "Branch, tag or SHA to checkout. Defaults to the reference or SHA that triggered the workflow."
        type: string
  # Trigger manually (typically to test the workflow or manually build a release [candidate])
  workflow_dispatch:
    inputs:
      release_type:
        description: The type of build version to produce ("nightly", "prerelease", or "dev")
        type: string
        default: "dev"
      package_suffix:
        type: string
      s3_subdir:
        description: "Subdirectory to push the packages"
        type: string
        default: "v2"
      s3_staging_subdir:
        description: "Staging subdirectory to push the packages"
        type: string
        default: "v2-staging"
      families:
        description: "Comma separated list of AMD GPU families, e.g. `gfx94X,gfx103x`"
        type: string
      prerelease_version:
        description: "(Optional) Number of the prerelease"
        type: string
  # Trigger on a schedule to build nightly release candidates.
  schedule:
    # Runs at 04:00 AM UTC, which is 8:00 PM PST (UTC-8)
    - cron: '0 04 * * *'

permissions:
  contents: read

jobs:
  setup_metadata:
    if: ${{ github.repository_owner == 'ROCm' || github.event_name != 'schedule' }}
    runs-on: ubuntu-24.04
    env:
      release_type: ${{ inputs.release_type || 'nightly' }}
    outputs:
      version: ${{ steps.rocm_package_version.outputs.rocm_package_version }}
      release_type: ${{ env.release_type }}
      package_targets: ${{ steps.configure.outputs.package_targets }}
      cloudfront_url: ${{ steps.release_information.outputs.cloudfront_url }}
      cloudfront_staging_url: ${{ steps.release_information.outputs.cloudfront_staging_url }}
      s3_subdir_tar: ${{ steps.release_information.outputs.s3_subdir_tar }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || '' }}

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12

      - name: Compute package version
        id: rocm_package_version
        run: |
          python ./build_tools/compute_rocm_package_version.py \
            --release-type=${{ env.release_type }} \
            --prerelease-version=${{ inputs.prerelease_version }}

      - name: Set variables for nightly release
        if: ${{ env.release_type == 'nightly' }}
        run: |
          echo "tmp_cloudfront_url=https://rocm.nightlies.amd.com/v2" >> $GITHUB_ENV
          echo "tmp_cloudfront_staging_url=https://rocm.nightlies.amd.com/v2-staging" >> $GITHUB_ENV
          echo "tmp_s3_subdir_tar=''" >> $GITHUB_ENV

      - name: Set variables for prerelease
        if: ${{ env.release_type == 'prerelease' }}
        run: |
          echo "tmp_cloudfront_url=https://rocm.prereleases.amd.com/whl" >> $GITHUB_ENV
          echo "tmp_cloudfront_staging_url=https://rocm.prereleases.amd.com/whl-staging" >> $GITHUB_ENV
          echo "tmp_s3_subdir_tar=v3/tarball/" >> $GITHUB_ENV

      - name: Set variables for development release
        if: ${{ env.release_type == 'dev' }}
        run: |
          echo "tmp_cloudfront_url=https://d25kgig7rdsyks.cloudfront.net/v2" >> $GITHUB_ENV
          echo "tmp_cloudfront_staging_url=https://d25kgig7rdsyks.cloudfront.net/v2-staging" >> $GITHUB_ENV
          echo "tmp_s3_subdir_tar=''" >> $GITHUB_ENV

      - name: Generate release information
        id: release_information
        run: |
          echo "cloudfront_url=${tmp_cloudfront_url}" >> $GITHUB_OUTPUT
          echo "cloudfront_staging_url=${tmp_cloudfront_staging_url}" >> $GITHUB_OUTPUT
          echo "s3_subdir_tar=${tmp_s3_subdir_tar}" >> $GITHUB_OUTPUT

      - name: Generating package target matrix
        id: configure
        env:
          AMDGPU_FAMILIES: ${{ inputs.families }}
          THEROCK_PACKAGE_PLATFORM: "linux"
        run: python ./build_tools/github_actions/fetch_package_targets.py

  portable_linux_packages:
    name: ${{ matrix.target_bundle.amdgpu_family }}::Build Portable Linux
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    continue-on-error: ${{ matrix.target_bundle.expect_failure == true }} # for GPU families that are flaky, we mark as xfail
    timeout-minutes: 720 # 12 hour timeout
    needs: [setup_metadata]
    permissions:
      contents: write
      actions: write # Added permission to trigger workflows
      id-token: write # Added permission for AWS S3 upload
    strategy:
      fail-fast: false
      matrix:
        target_bundle: ${{ fromJSON(needs.setup_metadata.outputs.package_targets) }}
    env:
      TEATIME_LABEL_GH_GROUP: 1
      OUTPUT_DIR: ${{ github.workspace }}/output
      BUILD_IMAGE: ghcr.io/rocm/therock_build_manylinux_x86_64@sha256:4443d9d710b9471e8ef658d509358bd92602498e67161b9280474bce0bb0decd
      DIST_ARCHIVE: "${{ github.workspace }}/output/therock-dist-linux-${{ matrix.target_bundle.amdgpu_family }}${{ inputs.package_suffix }}-${{ needs.setup_metadata.outputs.version }}.tar.gz"
      FILE_NAME: "therock-dist-linux-${{ matrix.target_bundle.amdgpu_family }}${{ inputs.package_suffix }}-${{ needs.setup_metadata.outputs.version }}.tar.gz"
      RELEASE_TYPE: "${{ needs.setup_metadata.outputs.release_type }}"
      S3_BUCKET_TAR: "therock-${{ needs.setup_metadata.outputs.release_type }}-tarball"
      S3_SUBDIR_TAR: ${{ needs.setup_metadata.outputs.s3_subdir_tar }}
      S3_BUCKET_PY: "therock-${{ needs.setup_metadata.outputs.release_type }}-python"
      S3_SUBDIR: ${{ inputs.s3_subdir || 'v2' }}
      S3_STAGING_SUBDIR: ${{ inputs.s3_staging_subdir || 'v2-staging' }}
      MANYLINUX: 1

    steps:
      - name: "Checking out repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || '' }}

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12

      # TODO: We shouldn't be using a cache on actual release branches, but it
      # really helps for iteration time.
      - name: Enable cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.OUTPUT_DIR }}/caches
          key: portable-linux-package-matrix-v1-${{ matrix.target_bundle.amdgpu_family }}-${{ github.sha }}
          restore-keys: |
            portable-linux-package-matrix-v1-${{ matrix.target_bundle.amdgpu_family }}-

      - name: Install the AWS tool
        run: ./dockerfiles/install_awscli.sh

      - name: Fetch sources
        timeout-minutes: 30
        run: |
          # Prefetch docker container in background.
          docker pull ${{ env.BUILD_IMAGE }} &
          ./build_tools/fetch_sources.py --jobs 10
          wait

      - name: Build Projects
        run: |
          ./build_tools/linux_portable_build.py \
            --image=${{ env.BUILD_IMAGE }} \
            --output-dir=${{ env.OUTPUT_DIR }} \
            -- \
            "-DTHEROCK_AMDGPU_FAMILIES=${{ matrix.target_bundle.amdgpu_family }}"
          cd ${{ env.OUTPUT_DIR }}/build/dist/rocm
          echo "Building ${{ env.DIST_ARCHIVE }}"
          tar cfz "${{ env.DIST_ARCHIVE }}" .

      - name: List build folder
        run: |
          cd ${{ env.OUTPUT_DIR }}/build/
          echo "Contents of ${{ env.OUTPUT_DIR }}/build"
          ls
          cd ${{ env.OUTPUT_DIR }}/build/dist
          echo "Contents of ${{ env.OUTPUT_DIR }}/build/dist"
          ls
          cd ${{ env.OUTPUT_DIR }}/build/dist/rocm
          echo "Contents of ${{ env.OUTPUT_DIR }}/build/rocm"
          ls
          cd ${{ env.OUTPUT_DIR }}/build/artifacts
          echo "Contents of ${{ env.OUTPUT_DIR }}/build/artifacts"
          ls
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12

      - name: Build Native Packages
        run: |
          echo "Building ${{ inputs.package_type }} packages for ${{ inputs.amdgpu_family }}"
          python ./build_tools/packaging/linux/build_package.py \
            --dest-dir ${{ env.env.OUTPUT_DIR }}/native_packages \
            --rocm-version  '7.10.0' \
            --target  ${{ inputs.amdgpu_family }} \
            --artifacts-dir ${{ env.env.OUTPUT_DIR }}/build/artifacts \
            --pkg-type 'rpm' \
            --version-suffix 'a20251110'

