name: Test Harness

on:
  workflow_dispatch:
    inputs:
      artifact_group:
        type: string
      artifact_run_id:
        type: string
        default: ""
      amdgpu_families:
        type: string
      test_runs_on:
        type: string
      sanity_check_only_for_family:
        type: boolean
        default: false
      test_type:
        type: string
      test_labels:
        type: string
  workflow_call:
    inputs:
      artifact_run_id:
        type: string
        default: ""
      artifact_group:
        type: string
      amdgpu_families:
        type: string
      test_runs_on:
        type: string
      platform:
        type: string
      sanity_check_only_for_family:
        type: boolean
        default: false
      test_type:
        type: string
      test_labels:
        type: string
  push:
    branches:
      - ADHOCBUILD

permissions:
  contents: read

jobs:
  test_harness_linux:
    name: Tests Harness - Linux
    runs-on: ${{ inputs.test_runs_on }}
    timeout-minutes: 300
    container:
      image: ${{ inputs.platform == 'linux' && 'ghcr.io/rocm/no_rocm_image_ubuntu24_04@sha256:4150afe4759d14822f0e3f8930e1124f26e11f68b5c7b91ec9a02b20b1ebbb98' || null }}
      options: --ipc host
        --group-add video
        --device /dev/kfd
        --device /dev/dri
        --group-add 110
        --env-file /etc/podinfo/gha-gpu-isolation-settings
    defaults:
      run:
        shell: bash
    env:
      VENV_DIR: ${{ github.workspace }}/.venv
      ARTIFACT_RUN_ID: "${{ inputs.artifact_run_id != '' && inputs.artifact_run_id || github.run_id }}"
      OUTPUT_ARTIFACTS_DIR: "./build"
      THEROCK_BIN_DIR: "./build/bin"
      AMDGPU_FAMILIES: ${{ inputs.amdgpu_families }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: "ROCm/TheRock"

      - name: Run setup test environment workflow
        uses: './.github/actions/setup_test_environment'
        with:
          ARTIFACT_RUN_ID: ${{ env.ARTIFACT_RUN_ID }}
          ARTIFACT_GROUP: ${{ inputs.artifact_group }}
          OUTPUT_ARTIFACTS_DIR: ${{ env.OUTPUT_ARTIFACTS_DIR }}
          VENV_DIR: ${{ env.VENV_DIR }}
          FETCH_ARTIFACT_ARGS: "--blas --fft --hipdnn --miopen --miopen-plugin --prim --rand --rccl --tests"
          IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}

      - name: Test
        run: |
          set -x 
          pip install -r requirements-test.txt
          python3 -m pytest -s -v --tb=short --therock-path=./therock-build tests/harness/tests*.py -k "${{ join(inputs.test_labels, ' or ') }}"

# TODO: Add windows tests
